.titulo-principal{
    background: rgb(6,105,238);
    background: linear-gradient(90deg, rgba(6,105,238,1) 0%, rgba(217,223,246,1) 100%);
    color: white;
    border: 4px solid blue;
    margin-top: 80px;
}

footer{
    padding: 10px;
    color: white;
}

.listado > li{
    margin: 15px;
    text-align: center;
    font-size: 14px;
}

.titulos{
    margin-top: 120px;
    
}

